*{
    margin: 0;
    list-style-type: none;
}
header{
    height: 50px;
    text-align: center;
    background-color: olivedrab;
    padding-top: 60px;
}
section{
    display: grid;
    grid-template-columns: 25% 1fr;
    background-color: rgb(172, 255, 47);
    height: 100%;
    }
aside{
    padding: 20px;
    box-sizing: border-box;
    font-size: 17px;
}
    
    main{
        background-color: olive;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        font-size: 17px;
    }
    .clearfix{
        clear: both;
    }
    footer{
        text-align: center;
        background-color: rgba(128, 128, 0, 0.829);
        padding: 20px;
    }